<ion-header>
  <ion-toolbar>
    <ion-title>Nivel educativo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Educación de tercer nivel</h4>
  <ion-item>
    <ion-label position="floating">Universidad</ion-label>
    <ion-input [(ngModel)]="instituteOne.university"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Titulo Obtenido</ion-label>
    <ion-input [(ngModel)]="instituteOne.Title"></ion-input>
  </ion-item>
  <h4>Educación de cuarto nivel</h4>
  <ion-item>
    <ion-label position="floating">Universidad</ion-label>
    <ion-input [(ngModel)]="instituteTwo.university"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Titulo Obtenido</ion-label>
    <ion-input [(ngModel)]="instituteTwo.Title"></ion-input>
  </ion-item>
  <br>
  <ion-button color="danger" (click)="siguiente()">Siguiente</ion-button>
  <ion-button color="danger" (click)="anterior()">Anterior</ion-button>
</ion-content>
