<ion-header>
  <ion-toolbar>
    <ion-title size="large" style="text-align: center;">About Us</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <img src="https://www.pngrepo.com/download/228329/curriculum.png" width="80%"/>
    <h1>Crea tu propio Curriculum Vitae</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit iste saepe dolorum quos repellat reiciendis ut, aliquam nam accusamus cumque placeat ipsam quasi fuga alias doloribus vero at, optio quae?</p>
  </div>
</ion-content>
