<ion-header>
  <ion-toolbar>
    <ion-title>Experiencia Futura</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background: #cf3c4f; color: white;">
    <ion-card-header style="color: white;">
      <ion-card-title style="color: white; text-align: center;">¿Cuales son tus expectativas a futuro?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="Enter Input" [(ngModel)]="cvitae.experience"></ion-input>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-button color="danger" (click)="siguiente()">Siguiente</ion-button>
  <ion-button color="danger" (click)="anterior()">Anterior</ion-button>
</ion-content>
