<ion-header>
  <ion-toolbar>
    <ion-title>Experiencia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Empresa Uno</h4>
  <ion-item>
    <ion-label position="floating">Nombre de la Empresa</ion-label>
    <ion-input [(ngModel)]="enterpriseOne.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cargo</ion-label>
    <ion-input [(ngModel)]="enterpriseOne.position"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Función</ion-label>
    <ion-input [(ngModel)]="enterpriseOne.function"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tiempo</ion-label>
    <ion-input [(ngModel)]="enterpriseOne.time"></ion-input>
  </ion-item>
  <h4>Empresa Dos</h4>
  <ion-item>
    <ion-label position="floating">Nombre de la Empresa</ion-label>
    <ion-input [(ngModel)]="enterpriseTwo.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cargo</ion-label>
    <ion-input [(ngModel)]="enterpriseTwo.position"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Función</ion-label>
    <ion-input [(ngModel)]="enterpriseTwo.function"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tiempo</ion-label>
    <ion-input [(ngModel)]="enterpriseTwo.time"></ion-input>
  </ion-item>
  <br>
  <ion-button color="danger" (click)="siguiente()">Siguiente</ion-button>
  <ion-button color="danger" (click)="anterior()">Anterior</ion-button>
</ion-content>
