<ion-header>
  <ion-toolbar>
    <ion-title>Información</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 style="text-align: center; font-weight: bolder;">Datos Personales</h4>
  <ion-card style="background: #cf3c4f; color: white;">
    <ion-card-header style="color: white;">
      <ion-card-title style="color: white; text-align: center;">{{cvitae.person.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h6>Cédula</h6>
      <ion-item>
        <ion-label>
          {{cvitae.person.id}}
        </ion-label>
      </ion-item>
      <h6>Dirección</h6>
      <ion-item>
        <ion-label>
          {{cvitae.person.address}}
        </ion-label>
      </ion-item>
      <h6>Experiencia Laboral</h6>
      <ion-item>
        <ion-label>
          {{cvitae.person.experience}}
        </ion-label>
      </ion-item>
      <h6>Genero</h6>
      <ion-item>
        <ion-label>
          {{cvitae.person.genre}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <h4 style="text-align: center; font-weight: bolder;">Experiencia Laboral</h4>
  <ion-grid>
    <ion-row style="border: solid 1px; text-align: center; background: #cf3c4f; color: white;">
      <ion-col>Empresa</ion-col>
      <ion-col>Cargo</ion-col>
      <ion-col>Función</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>
          {{cvitae.enterprseOne.name}}
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          {{cvitae.enterprseOne.position}}
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          {{cvitae.enterprseOne.function}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>
          {{cvitae.enterpriseTwo.name}}
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          {{cvitae.enterpriseTwo.position}}
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          {{cvitae.enterpriseTwo.function}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h4 style="text-align: center; font-weight: bolder;">Educación</h4>
  <ion-grid>
    <ion-row style="border: solid 1px; text-align: center; background: #cf3c4f; color: white;">
      <ion-col>Universidad</ion-col>
      <ion-col>Titulo</ion-col>
      <ion-col>Nivel</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>
          {{cvitae.instituteOne.university}}
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          {{cvitae.instituteOne.Title}}
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          {{cvitae.instituteOne.Level}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>
          {{cvitae.instituteTwo.university}}
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          {{cvitae.instituteTwo.Title}}
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          {{cvitae.instituteTwo.Level}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card style="background: #cf3c4f; color: white;">
    <ion-card-header style="color: white;">
      <ion-card-title style="color: white; text-align: center;">Tu experiencia Personal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{cvitae.experience}}
    </ion-card-content>
  </ion-card>
  <br>
  <ion-button color="danger" (click)="generar()" style="justify-content: center;">Generar Otro CV</ion-button>
</ion-content>
