<ion-header>
  <ion-toolbar>
    <ion-title>Datos Personales</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Cedula:</ion-label>
    <ion-input [(ngModel)]="person.id"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Nombre:</ion-label>
    <ion-input [(ngModel)]="person.name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Dirección:</ion-label>
    <ion-input [(ngModel)]="person.address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha de Nacimiento:</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" [(ngModel)]="date"></ion-datetime>
  </ion-item>

  <ion-list>
    <ion-radio-group value="biff" (ionChange)="RadioGenreChangeEvent($event)">
      <ion-list-header>
        <ion-label style="font-size: 12px;">Selecciona tu Género</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio slot="start" value="masculino"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Femenino</ion-label>
        <ion-radio slot="start" value="femenino"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-radio-group value="biff" (ionChange)="RadioExperienceChangeEvent($event)">
      <ion-list-header>
        <ion-label style="font-size: 12px;">¿Tienes experiencia laboral?</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Si tengo</ion-label>
        <ion-radio slot="start" value="si"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>No tengo</ion-label>
        <ion-radio slot="start" value="no"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <br>
  <ion-button color="danger" (click)="siguiente()">Siguiente</ion-button>
  <ion-button color="danger" (click)="anterior()">Anterior</ion-button>
</ion-content>
