<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">CV Creator</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="first" color="danger"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="https://www.pngrepo.com/download/228329/curriculum.png" width="80%"/>
    <h1>Crea tu propio Curriculum Vitae</h1>
    <br>
    <ion-button color="danger" (click)="siguiente()">Comenzar</ion-button>
  </div>
</ion-content>
